.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  height: 1px; 
}

.footer-content {
  display: flex;
  align-items: center;
}

.contact-me {
  width: 100px; 
  height: auto;
  margin-right: 10px;
  padding: 0;
}

.credit-name {
  font-size: 14px; 
  margin-top: 10px;
  padding-top: 50px; 
  padding-bottom: 50px;
  color: #2e1d17;
}